/* Body
-------------------------------------------------- */

body {
  background-color: #FEFEFE;
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url('../font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url('../font/Montserrat-Bold.ttf') format('truetype');
}


/* Grid Extensions
-------------------------------------------------- */

.push-right {
  float: right;
}


/* Miscellaneous Typography
-------------------------------------------------- */

.spaced li {
  line-height: 1.35em;
  margin-bottom: 0.5em;
}


/* Special Elements
-------------------------------------------------- */

#bag {
  margin-top: -100px;
}


/* Images
-------------------------------------------------- */

.img-feature {
    max-width: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: solid #fff 5px;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}


/* Sprites
-------------------------------------------------- */

.sprite {
  background: transparent url('../img/sprite.png') no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.sprite-2x {
  width: 64px;
  height: 64px;
}

.sprite-rounded {
  border-radius: 128px;
}

.sprite-download    { background-position: 0 0; }
.sprite-upload      { background-position: -32px 0; }
.sprite-edit        { background-position: -64px 0; }
.sprite-designers   { background-position: 0 -32px; }
.sprite-developers  { background-position: -32px -32px; }
.sprite-newbies     { background-position: -64px -32px; }
.sprite-gavin       { background-position: -96px 0; }
.sprite-gavin-walsh { background-position: -160px 0; }
.sprite-fox-jones   { background-position: -224px 0; }
.sprite-scott-hay   { background-position: -288px 0; }
.sprite-eric-husted { background-position: -352px 0; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .sprite {
    background-image: url('../img/sprite@2x.png');
    background-size: 416px 64px;
  }
}


/* Mumbotrons, Jumbotrons and Bumbotrons
-------------------------------------------------- */

.jumbotron, .mumbotron, .bumbotron {
  position: relative;
  background: transparent;
}

.jumbotron h1, .mumbotron h1 {
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.jumbotron p, .mumbotron p {
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}


/* Jumbotrons
-------------------------------------------------- */

.jumbotron {
  padding: 40px 0;
}

.jumbotron h1 {
  font-size: 60px;

}
.jumbotron p {
  font-size: 24px;
}


/* Mumbotrons
-------------------------------------------------- */

.mumbotron {
  padding: 24px 0;
  font-size: 18px;
}

.mumbotron h1 {
  font-size: 60px;
  line-height: 1.4;
}

.mumbotron h2 {
  font-size: 36px;
  line-height: 1.4;
}

.mumbotron h3 {
  font-size: 26px;
  line-height: 1.4;
}


/* Bumbotrons
-------------------------------------------------- */

.bumbotron {
  padding: 24px 0;
}


/* Flavours of Mumbos & Jumbos
-------------------------------------------------- */

.umbo-dark {
  background: #444;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
}

.umbo-dark a {
  color: #fff;
}

.umbo-dark a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

.umbo-purple {
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
  background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.umbo-night {
  background: #555555; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #555555 0%, #151515 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, right bottom, left top, color-stop(0%,#555555), color-stop(100%,#151515)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #555555 0%,#151515 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #555555 0%,#151515 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #555555 0%,#151515 100%); /* IE10+ */
  background: linear-gradient(-45deg,  #555555 0%,#151515 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#151515',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.umbo-shadow-bottom {
  box-shadow: inset 0 -3px 7px rgba(0,0,0,.2);
}

.umbo-shadow-top {
  box-shadow: inset 0 3px 7px rgba(0,0,0,.2);
}

.umbo-shadow-both {
  box-shadow: inset 0 -3px 7px rgba(0,0,0,.2), inset 0 3px 7px rgba(0,0,0,.2);
}

.umbo-bordered {
    border-top:     1px solid #CCC;
    border-bottom:  1px solid #CCC;
}

.umbo-lightgrey {
  background-color: #F9F9F9;
}

.umbo-indigo {
  background-color: #6d354f;
}

.umbo-green {
  background-color: #96BF48;
}

.umbo-darkgreen {
  background-color: #87ac41;
}

.container-white {
  background-color: #FFFFFF;
}

.umbo-mumbo {
    background-image: url('../img/mumbo.png');
    background-repeat: repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .umbo-mumbo {
        background-image: url('../img/mumbo@2x.png');
        background-size: 26px 26px;
    }
}


/* Flavours of Mumbos & Jumbos
-------------------------------------------------- */

.btn-jumbo {
  padding: 19px 24px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 200;
  color: #fff !important;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}


/* Responsive - Large
------------------------- */
@media (min-width: 1200px) {
  #bag {
    margin-top: -70px;
  }

  .hide-large {
    display: none !important;
  }
}


/* Responsive - Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  .jumbotron, .mumbotron, .bumbotron {
    margin-right: -20px;
    margin-left:  -20px;
  }

  .jumbotron {
    padding: 20px 20px;
  }

  .mumbotron, .bumbotron {
    padding: 24px 20px;
  }

  .push-right {
    float: none;
  }

  #bag {
    margin: 0;
  }

  .text-left-mobile {
    text-align: left;
  }

  .text-center-mobile {
    text-align: center;
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  body {
    padding-top: 0;
  }

  .jumbotron h1 {
    font-size: 45px;
  }

  .jumbotron p {
    font-size: 18px;
  }

  .mumbotron h2 {
    font-size: 30px;
  }

  .mumbotron h3 {
    font-size: 24px;
  }

  .mumbotron p {
    font-size: 16px;
  }
}
